<?xml version="1.0"?>
<model>
  <name>aruco_cube</name>
  <version>1.0</version>

  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Anurag</name>
    <email>anurag@example.com</email>
  </author>

  <description>
    20cm cube with ArUco marker on top for manipulation
  </description>
</model>
